<section class='page-title'>
    <h1>Models</h1>
</section>

<section class='content'  fxLayout="row wrap" fxLayoutAlign="center" *ngIf="models" >

    <mat-card class="model-card" fxFlex.xs="100%" fxFlex="400px" *ngFor="let m of models" >
        <mat-card-header>
          <img mat-card-avatar *ngIf="m.model.avatarImg" [src]="m.model.avatarImg">
          <mat-card-title>{{m.session ? m.session.modelName : m.displayName }}</mat-card-title>
          <mat-card-subtitle>{{m.model.subtitle?m.model.subtitle: "&nbsp;"}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="m.model.listingImg" alt="">
        <mat-card-content>
          <p>
              {{m.model.aboutMe?m.model.aboutMe : "&nbsp;"}}
          </p>
        </mat-card-content>
        <mat-card-actions>

          <button mat-raised-button [disabled]='!m.session' class="live-button" color="accent">LIVE</button>
          <button mat-button>PROFILE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

</section>
