.page-title{
    text-align: center
}

.content {
  
}

.addnewForm{

}

mat-form-field {
    width: 150px;
}


.accordion .mat-expansion-panel-header-title, 
.accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


.accordion_live .mat-expansion-panel-header-title, 
.accordion_live .mat-expansion-panel-header-description {
  flex-basis: 0;
  color:black;
}

.accordion_live .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  color:black;
}



mat-expansion-panel {
  margin: 5px 5px 5px 5px;
 }

 .content {
   padding-left: 5px;
   padding-right:5px;
   padding-bottom: 10px;

 }

