.page-title{
    text-align: center
}

.content {
  
}

.addnewForm{

}

mat-form-field {
    width: 150px;
}


.accordion .mat-expansion-panel-header-title, 
.accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


.accordion_live .mat-expansion-panel-header-title, 
.accordion_live .mat-expansion-panel-header-description {
  flex-basis: 0;
  color:black;
}

.accordion_live .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  color:black;
}

.rules-table {
  font-size: 9pt;
  border-collapse:collapse;
  border:1px solid gray;;
}

.rules-table td{
  padding-left:10px;
  padding-right:10px;
  padding-top:2px;
  padding-bottom:2px;
  border-bottom:1px solid gray;
  text-align: center;
  color:black;
  background-color: white;
 }

 .rules-table th{
  padding-left:10px;
  padding-right:10px;
  padding-top:2px;
  padding-bottom:2px;
  border-bottom:1px solid gray;
  text-align: center;
  color:white;
  background-color: black;
 }




mat-expansion-panel {
  margin: 5px 5px 5px 5px;
 }

 .content {
   padding-left: 5px;
   padding-right:5px;
   padding-bottom: 10px;

 }

