<mat-toolbar color="primary">
          
  <div>
      <button mat-icon-button (click)="onToggleSidebar()">
      <mat-icon>menu</mat-icon>
  </button></div>
  
  <div><a routerLink="/">LOGO</a></div>

  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs >
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li *ngIf="!isLoggedIn"><a routerLink="/signup">Signup</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="/models">Models</a></li>
        <li *ngIf="isLoggedIn" class="logout" (click)="onLogout()"><a>Logout</a></li>
    </ul>
  </div>
</mat-toolbar>