<section class='page-title'>
    <h3 *ngIf="model">Live with {{model.session.modelName}}</h3>
</section>

<section class="content">

<mat-accordion class="accordion" multi="true" fxLayout="row wrap" fxLayoutGap="10px">

  <mat-expansion-panel  *ngIf="wallet && model" fxFlex.xs="100%" fxFlex="400px" expanded>
      <mat-expansion-panel-header>
          <mat-panel-title>
              Wallet
          </mat-panel-title>
          <mat-panel-description>
              &nbsp; 
              <mat-icon>attach_money</mat-icon>
          </mat-panel-description>
       </mat-expansion-panel-header>
      
       <p class="wallet-balance-label">Balance</p>
       <p class="wallet-balance">
          {{wallet.balance}} <img src="https://firebasestorage.googleapis.com/v0/b/alpha69-ng.appspot.com/o/images%2Fcoin32.png?alt=media&token=f4b3f892-a7d1-4908-a2c5-54d3dbd02b22">
          
      </p>
    
      <section class="ppm" *ngIf="model && model.session && model.session.usePpm">
          <p class="ppm-label">Pay-Per-Minute is Enabled</p>
          <p class="ppm-charge">You will be charged {{model.session.ppmAmount}} per minute.</p>
          <p class="ppm-left" *ngIf="ppmMinutesLeft!=-1">{{ppmMinutesLeft}} minutes left on PPM</p>
      </section>

      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #tipform="ngForm" (ngSubmit)="onTip(tipform)">

          <mat-form-field>
            <input type="number" matInput placeholder="tip amount" ngModel name="amount" required/>
            <mat-hint align="end">minimum tip amount: {{model.session.minTipAmount? model.session.minTipAmount : 1}}</mat-hint>
          </mat-form-field>
      
          <mat-form-field>
            <input type="text" matInput placeholder="tip message" ngModel name="message" maxlength="140" />
          </mat-form-field>
      
          <section class="wallet-action-section" fxLayoutGap="20px">
          <button type="submit" mat-raised-button color="accent" [disabled]="tipform.invalid ||
            (tipform.value.amount > wallet.balance) ||
            (tipform.value.amount < (model.session.minTipAmount? model.session.minTipAmount : 1) )">Tip</button>
            <button mat-raised-button color="primary" (click)="onBuyToken(m)">Buy</button>
          </section>
      </form>

     

  </mat-expansion-panel>

  <mat-expansion-panel  *ngIf="transactions" fxFlex.xs="100%" fxFlex="400px" expanded class="tipwall">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tip wall
            </mat-panel-title>
            <mat-panel-description>
                &nbsp; 
                <mat-icon>attach_money</mat-icon>
            </mat-panel-description>
         </mat-expansion-panel-header>
        
         <ul class="tipwall-list">
             <li *ngFor="let trans of transactions">{{trans.ppm ? "PPM - ": ""}}{{trans.dt.toDate() | date: 'hh:mm:ss'}}, {{trans.nme}}: {{trans.amt}} {{trans.msg? trans.msg : ""}}</li>
         </ul>
    </mat-expansion-panel>


    <mat-expansion-panel  *ngIf="goal" fxFlex.xs="100%" fxFlex="400px" expanded class="goal-meter">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Goal Meter
                </mat-panel-title>
                <mat-panel-description>
                    {{goalCollectedPct}}% ({{goal.collected}}t / {{goal.amount}}t)&nbsp; 
                    <mat-progress-spinner
                    color="primary"
                    mode="determinate"
                    [value]="goalCollectedPct"
                    strokeWidth=3
                    diameter=20>
                 </mat-progress-spinner>
                </mat-panel-description>
            </mat-expansion-panel-header>
            
            <div>
                <table>
                    <tr>
                    <td>
                        <mat-progress-spinner
                        color="primary"
                        mode="determinate"
                        [value]="goalCollectedPct"
                        strokeWidth=10
                        diameter=80>
                     </mat-progress-spinner></td>
                    
                    <td style="font-size: 48pt">{{goalCollectedPct}}%</td>
                    <td style="font-size: 11pt;font-weight: normal;text-align: center;padding-left:10px">{{goal.collected}}<br/>out of<br/>{{goal.amount}} <img src="https://firebasestorage.googleapis.com/v0/b/alpha69-ng.appspot.com/o/images%2Fcoin16.png?alt=media&token=45502c9f-a9d4-4c2e-9671-aa92141db4f5"></td>
                </tr>
                <tr><td colspan="2" style="text-align:center;font-size:12pt;font-weight: bold">{{goal.descr}}</td></tr>
                </table>
            
           
            </div>
            
        </mat-expansion-panel>


                   <!-- ================================================================================= -->
                   <mat-expansion-panel  *ngIf="leaderboard" fxFlex.xs="100%" fxFlex="400px" expanded class="leaderboard" >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            leaderboard
                        </mat-panel-title>
                        <mat-panel-description>
                            &nbsp; 
                            
                        </mat-panel-description>
                        </mat-expansion-panel-header>

                        <ul>
                            <li *ngFor="let lb of leaderboard"><b>{{lb.nme}}</b></li>
                        </ul>
                        
                </mat-expansion-panel>

</mat-accordion>


<section fxLayout="row">
    <article class="player"  fxFlex="1280">
        Player    
    </article>
    <article class="chat" fxFlex="720">
        Chat
    </article>
</section>