<p>Re-scans every 15 seconds for toys and their status</p>
<a href='#'><b>Guide:</b> How to link devices...</a><br/>
<mat-divider></mat-divider>


<ng-container *ngIf="toys && session">
 <section class='toys-list'>
    <table>
    <tr *ngFor="let toy of toys | keyvalue">
      <td><img [src]="toy.value.image"> </td>      
        <td>
          <button *ngIf="toy.value.status==1" mat-raised-button color="accent" (click)="navConfigure(toy.value.did)">Set tip rules</button>
          <h3 *ngIf="toy.value.status==0">{{toy.value.name}} is Offline</h3> 
        </td>
    </tr>
  
    <tr> <td>
      <mat-divider></mat-divider>
      <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxFlex="200px" #f="ngForm" (ngSubmit)="onSelectToyToUse(f)" class="addnewForm">
          
        <mat-form-field>
            <mat-select placeholder="Select Toy to Use" [(ngModel)]='session.useToyId' name="useToyId">
                <mat-option value="">(disabled)</mat-option>
                <mat-option *ngFor="let toy of toys | keyvalue" [value]="toy.value.did">{{toy.value.name}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Save</button>
      </form>
    </td></tr>
    <tr><td>
    <p class="active-toy-event" *ngIf="activeToyEvent"><b>Now:</b>{{activeToyEvent.act}} @ {{activeToyEvent.val}} for {{activeToyEvent.secs}} seconds</p>
    </td></tr>
  </table>

  </section>


</ng-container>